.eachSponsorComponent{
    margin-top: 2vh;
    background-image: url("../images/neon_square_frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    transform: rotate(15deg);
}

.spon_image{
    height: 10vh;
    transform: rotate(-15deg);
}

