@import "./common.css";

.eachSponsorComponent{
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.spon_image{
    height: 15vh; 
}

.image_name{
    font-size: larger;
    /* color: ; */
}



/*=============== MEDIA QUERIES ==================*/

/* For 600px */

@media screen and (max-width:600px) {

	.spon_image{
		height: 15vh;
		
	}
}


/* For 468px */

@media screen and (max-width:468px) {
	.spon_image{
		height: 10vh;
	}

    .eachSponsorComponent
    {
        width: 300px;
    }
}

