@import "./common.css";

.events_page
{
	padding-top: 22vh;
	width: 100%;
    min-height: 100vh;
	background-color: #2E044C;

}

.event_page_options
{
	position: fixed;
	right: 0;
    display: grid;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 2px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
	z-index: 9;
	width: 80px;
}

.heading_events
{
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 160px #ffffff;
    text-align: center;
    font-size: 2 rem;
    font-size: 2rem;
    font-weight: 700;
}

.sub_heading_event
{
    text-align: center;
    color: white;
}

.events
{
	width: auto;
	padding-left: 90px;
	padding-right: 90px;
	padding-bottom: 10vh;
}

.events_events
{
	margin-top: 5vh;
	display: grid;
	grid-template-columns: auto auto ;
	gap: 7vh;
}
.nav_link_events
{
	text-align: center;
}

.nav_link_date
{
	font-size: x-small;
}

.nav_link_day
{
	font-size: medium;
}

/*============media queries===========*/
/* For 1200px */

@media screen and (max-width: 1200px) {
.events_events
{
	grid-template-columns: auto;
}
}

/* For 500px */

@media screen and (max-width: 500px) {
	.nav_link_date
{
	font-size: xx-small;
}

.nav_link_day
{
	font-size: small;
}

.event_page_options{
	width: 70px;
	text-align: center;
}

.events
{
	padding-left: 40px;
}
}





