@import "./common.css";

footer {
  background: rgb(241 241 241 / 20%);
  padding: 3rem 6rem;
  color: white;
  border-radius: 10px;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo {
  width: 180px;
}
.right-col-primary {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.social-media {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 70%;
}

.social-media a {
  color: #ffff;
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #fc5c65;
}

.right-col h1 {
  font-size: 26px;
}

.border {
  width: 100px;
  height: 4px;
  background: #fc5c65;
}

.page-content {
  min-height: 100vh;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 60%;
  }
  footer {
    margin: 0 auto;
    margin-top: 20rem;
  }
  .social-media {
    width: 100%;
    gap: 4rem;
  }
  .footer-container {
    width: 100%;
    flex-direction: column;
  }

  .right-col {
    width: 100%;
    margin-bottom: 6rem;
  }
  .border {
    margin-bottom: 1rem;
  }

  .left-col {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 2rem;
  }
}

@media screen and (max-width:400px) {
  .social-media{
    margin-top: 40%;
  }
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: flex-start;
  justify-content: center;
}

.follower {
  font-size: 1rem;
}
.icon_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_footer {
  width: 5rem;
  height: 6rem;
}

.rights-text {
  text-align: center;
}
