@import "./common.css";

.home
{
    height: 100vh;
    width: 100vw;
    background-image: url("/src/images/home_page_background.jpeg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
}

.home_inside
{
    background-color: var(--color-bg);
    height: 100vh;
    width: 100vw;
    opacity: 0.7;
    /* display: flex; */
    overflow: hidden;
}

.home_about_us
{
    background-color: var(--color-bg);
    height: 100vh;
    width: 100vw;
}

.home_arman_malik_image
{
    z-index: +5;
    height: 70%;
    margin-top: 20vh;
    margin-right: 4vw;
    float: right;
}

.home_page_label{
  
    position: relative;
    top: 25vh;
    left: 7vw;
}

.home_page_label_anugoonj{
    font-size: 8rem;
    font-weight: bold;
    text-shadow:  0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 80px #ffffff,
    0 0 120px #ffffff,
    0 0 160px #ffffff
    ;

}

.home_arrow{
    position: absolute;
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%);
}

.home_down_arrow{
    height: 10vh;
}
