
.loader_heading
{
    text-shadow:  0 0 10px #ffffff8a,
    0 0 20px #ffffff6f,
    0 0 40px #ffffff,
    0 0 80px #ffffff,
    0 0 120px #ffffff,
    0 0 160px #ffffff,
    0 0 180px #ffffff;
    font-size: 0rem;
    font-family: Carlson;
    animation: loading_animation;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    /* color: rgba(255, 255, 255, 0.449); */
}

.loader
{
   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    position: absolute;
    /* background-color: white; */

}

@keyframes loading_animation {
    0% {font-size: 0rem;}
    50% {font-size: 12rem;}
    100% {font-size: 0rem;}
}