@import "./common.css"; 

.navbar{
    position: fixed;
    width: 100vw;
    height: fit-content;
    padding: 3vh 0 0 3vw;
    z-index: +10;

}


.logo_img
{
    height: 18vh;
    min-height: 100px;
}

.navbar_route{
    float: right;
    color: white;
    display: grid;
    grid-auto-flow: column;
    width: 50vw;
    gap: auto;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.15);
}

.navbar_link
{
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 1rem;

}

.navbar_link:hover
{
    /* background-color: #c1d037d3; */
    background-color: #fff280c3;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

a.navbar_link.active {
    background-color: #E63B81;
    
}
