@import "./common.css"; 

.navbar{
    position: fixed;
    width: 100vw;
    height: fit-content;
    padding: 2vh 0 0 0;
    z-index: +30;
}


.logo_img
{
    padding-left: 3vw;
    height: 15vh;
    min-height: 100px;
    filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 0.64));
}

.navbar_route{
    float: right;
    color: white;
    display: flex;
    grid-auto-flow: column;
    width: 50vw;
    gap: auto;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(6px);
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 4px 4px 2px rgba(255, 255, 255, 0.15);
    overflow: hidden;

}

.navbar_link
{
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 1rem;
}

.navbar_link:hover
{
    background-color: #ffffff;
    color: #15054a;
    font-size: 1.5rem;
    font-family: sans-serif;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

a.navbar_link.active {
    background-color: #E63B81;
    
}


@media only screen and (max-width:1150px) 
{
    .navbar_route
    {
        width: 70vw;
    }
}