.profile
{
    width: 160px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    color: white;
    
}

.profile_image
{
    width: 100px;
    border-radius: 50%;
    margin: auto;
}

.profile_details
{
    padding: 20px 0;
}

.profile_details h4
{
    font-size: medium;
}

.profile_details h6
{
    font-size: small;
}