.right_event_body{
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    width: 70vw;
    float: right;
}

.event_content_right
{
    margin-right: 4vw;
    background-color: rgba(255, 255, 255, 0.447);
    z-index: 10;
    border-radius: 5px;
    color: black;
    padding: 25px;
}


.right_circle
{
    float: right;
}

.location_time
{
    display: grid;
    grid-auto-flow: column;
    gap: auto;
}
.event_time
{
    text-align: right;
}