.left_event_body{
    display: flex;
    max-height: max-content;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.event_content{
    float: left;
    margin-left: 4vw;
}

