@import "./common.css";

.sponsors_all{
	padding: 5%;
	padding-top: 2%;
}

.sponsors_page {
	padding-bottom: 0;
	padding-top: 22vh;
	width: 100%;
	min-height: 100vh;
	background-color: #2E044C;
	overflow: auto;
	z-index: -1;
}

.sponsor_heading {
	/* text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff, 0 0 120px #ffffff, 0 0 160px #ffffff; */
	color: white;
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
}

.eachSponsorMain {
	background-color: rgb(255, 255, 255, 0.2);
	box-shadow:
		0 0 4px #fff,
		0 0 8px #fff,
		0 0 12px #fff,
		0 0 16px #520888,
		0 0 20px #520888;
	padding: 2% 4%;
	border-radius: 20px;
	margin-top: 2vh;

}

.eachSponsorInner{
	display: flex;
	align-items: center;
	margin-bottom: 2vh;
	justify-content: center;
	gap: 7vw;
}

.SponsorTitle {
	/* text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff; */
	/* font: Norwester; */
	color: white;
	margin-top: 10vh;
	font-weight: 700;
	font-size: 3rem;
	text-align: center;
}

.sponsors_content {
	padding: 0 5%;
	margin-top: 5vh;
	text-align: center;
	color: #ffffff;
	font-size: large;

}

.sponsors_title_line {
	font-weight: 700;
}


/*=============== MEDIA QUERIES ==================*/

/* For 600px */

@media screen and (max-width:600px) {

	.sponsors_content {
		font-size: medium;
	}
}