.sponsor_footers {
    padding: 2rem 6rem;
    color: white;
    z-index: 6;
    position: relative;
  }
  
  .sponsor_rights-text {
    text-align: center;
  }

  .sponsor_rights-text a{
    color: white;
    font-weight: 700;
  }

